{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class="container text-center my-5">
        <h2>Adminstration du site e-commerce Good Eats Corner</h2>
        <a href="{{ path('app_product')}}">
            <button class="btn btn-primary btn-back mt-5">Retour sur le site de e-commerce</button>
        </a>
    </div>

    <style>
    .btn-back {
        font-size: 1.5rem;
    }
    </style>

{% endblock %}


