{% if form %}
	{{ form_start(form) }}
	<div class="container my-3">
		<div class="row">
			<h4>Vous recherchez un produit en particulier ?</h4>
			<div class="col-12">
				{{ form_widget(form.q, {'attr': {'class': 'form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'}}) }}
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endif %}