{% extends 'layout.html.twig' %}

{% block styles %}
<style>
    .login-container {
        height: 100%;
        margin-top: 180px;
        margin-bottom: 290px;
    }
</style>
{% endblock %}

{% block body %}

<div class="container login-container">

     {% include 'bearcrumb.html.twig' with {'title': 'Inscription'} %}

    <div class="row align-items-center justify-content-center mt-5">
        <div class="col-md-8 border p-3">
             {{form(form)}}
        </div>
    </div>

</div>
{% endblock %}