<div class="card col-4 mb-3" style="width: 18rem;">
  <img src="{{ asset('uploads/'~product.image~'') }}" class="card-img-top" alt="{{ product.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>